body {
    font-family: arial;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background-color: black;
  }

  .container {
    padding: 40px;
    width: 500px;
    margin: 20px auto;
    background-color: #f1f1f1;
  }

  .container h2 {
    text-align: center;
  }

  fieldset {
    border: 1px solid #d4d4d4;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .input-field {
    display: flex;
    margin-bottom: 15px;
  }

  label {
    margin-right: 25px;
    margin-top: 5px;
    width: 30%;
    text-align: right;
    font-weight: bold;
  }

  .icon {
    background: #fcfcfa;
    color: black;
    min-width: 40px;
    border: 2px solid #e2e2e2;
    border-right: none;
    text-align: center;
    padding: 7px;
  }

  .inputs {
    padding: 3px 10px;
    border: 2px solid #e2e2e2;
    width: 70%;
  }

  input [type="radio"] {
    margin-right: 8px;
  }

  .textarea {
    padding: 8px;
    border: 2px solid #e2e2e2;
  }

  .textarea-icon {
    padding-top: 14px;
  }

  .button {
    text-align: center;
  }

  .submit {
    color: white;
    background: #ee9a25;
    padding: 9px 25px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #c9c9c9;
  }

  .submit:hover {
    background: #d1871e;
  }

  .reset {
    color: white;
    background: #c93232;
    padding: 9px 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #c9c9c9;
  }

  .reset:hover {
    background: #a32727;
  }

  .city {
    margin-left: -6px;
  }

  .gender {
    margin-left: -30px;
  }

  .courses {
    margin-left: -26px;
  }

  input[type="radio"] {
    margin-right: 10px;
  }

  .message {
    margin-left: -30px;
  }

  .container a {
    display: inline;
  }

  .dropdown {
    display: inline-block;
    cursor: pointer;
  }
  
  /* Dropdown Button */
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}